/*231942-5e548e-9f86c0-be95c4-e0b1cb*/
:root {
  --color1: #231942;
  --color2: #5e548e;
  --color3: #9f86c0;
  --color4: #be95c4;
  --color5: #e0b1cb;
  --color6: #5e548e;
  --color7: #23194255;
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: local("Ubuntu-Bold"), url(./Utils/Fonts/Ubuntu-Bold.ttf);
  font-display: block;
}

* {
  font-family: "Ubuntu-Bold";
}
