.cat-container {
  display: flex;
  flex-direction: row;
  max-width: 88%;
  overflow-x: auto;
}

.horizontal-scroll {
  margin: 30px;
  padding: 20px;
  min-height: 250px;
  max-height: 300px;
  min-width: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px;
  border-radius: 10%;
  cursor: pointer;
  transition: transform 200ms ease-in;
  align-items: center;
  background-color: var(--color7);
}

.horizontal-scroll:hover {
  transform: scale(1.05);
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

h2 {
  color: white;
}

.cat-title {
  padding-top: 50px;
}

.cat-body {
  font-size: medium;
}

.cat-number {
  padding-bottom: 50px;
}

.arrow-back {
  position: absolute;
  top: 500px;
  left: 2%;
  color: white;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.arrow-for {
  position: absolute;
  top: 500px;
  right: 2%;
  color: white;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
