.cat-container {
  display: flex;
  flex-direction: row;
  max-width: 88%;
  overflow-x: auto;
}

.horizontal-scroll {
  margin: 30px;
  padding: 20px;
  min-height: 250px;
  max-height: 300px;
  min-width: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px;
  border-radius: 10%;
  cursor: pointer;
  transition: transform 200ms ease-in;
  align-items: center;
  background-color: var(--color1);
  text-decoration: none;
}

.horizontal-scroll:hover {
  transform: scale(1.05);
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

h2 {
  color: white;
}

.cat-title {
  padding-top: 50px;
}

.cat-body {
  font-size: medium;
  color: white;
}

.cat-number {
  padding-bottom: 50px;
}

.arrow-back {
  position: absolute;
  top: 500px;
  left: 2%;
  color: white;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.arrow-for {
  position: absolute;
  top: 500px;
  right: 2%;
  color: white;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.one-cat-container {
  padding-left: 270px;
  padding-bottom: 200px;
  background-image: url(../../Utils/Images/BG.png);
  background-size: contain;
}

.one-cat-title {
  display: flex;
  font-size: xx-large;
  align-items: center;
  padding: 10px;
  justify-content: center;
  max-width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.quiz-list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  outline: none;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 35px;
  padding: 15px;
  max-width: 80%;
  background-color: var(--color1);
  transition: transform 300ms ease-in;
}

.quiz-list:hover {
  transform: scale(1.03);
}

.quiz-title {
  color: white;
}

.quiz-body {
  color: white;
}
